<div>
  <div class="mt10">
    <el-checkbox v-model="state.downloadAnnotations" disabled
      >Download annotations (.json, .nrrd)</el-checkbox
    >
  </div>
  <div class="mt10">
    <el-checkbox v-model="state.downloadVolumes"
      >Download volume data (.nrrd)
    </el-checkbox>
  </div>
  <div class="mt10">
    <el-checkbox
      v-model="state.saveInstanceSegmentationMasks"
      :disabled="!state.downloadVolumes"
      >Additionally, save each object in Mask3D format (.nrrd)
    </el-checkbox>
  </div>
  <div class="mt10">
    <el-checkbox
      v-model="state.saveSemanticSegmentationMasks"
      :disabled="!state.downloadVolumes"
      >Additionally, save all objects as one in Mask3D format (.nrrd)
    </el-checkbox>
  </div>
  <div class="mt10">
    <br />
    &#9432; All closed mesh surface (.stl) will be converted to Mask3D (.nrrd)
    automatically. STL files will be saved in the project interpolation folder,
    but cannot be re-imported as closed mesh surfaces due to format
    obsolescence.
    <br />
  </div>
</div>
